<!-- Estado 1: Loading -->
 @if (carregando()){
    <p>Carregando Produtos...</p>
 }
 <!-- Estado 2: erro -->
@if (erro()){
    <P style="color:red;">{{erro() }}</P>
    <button (click)="carregarProdutos()">Tentar novamente</button>
}
<hr>
<!-- Estado 3: secesso -->
 @if(!carregando() && !erro()){
    <p>Total de produtos: {{totalProdutos ()}} </p>
  
<hr>
@for(item of produtos(); track $index){
    <app-produto
    [nome] = "item.nome"
    [preco] = "item.preco"
    >
    </app-produto>
}
}
<h2>carrinho</h2>
@for(item of carrinho(); track $index){
    <p>{{item.nome | uppercase}} - {{item.preco | precoFormatado}}</p>
}
<p><strong>Itens no carrinho: </strong>{{quantidadeCarrinho()}}</p>
<p><strong>Total no carrinho: </strong>{{totalCarrinho()| precoFormatado}}</p>
<!-- adicionado butoon e carrinho-->
 <!-- adicionado buton para subistituir produtos.-->