<!-- Estado 1: Loading -->
<h2>Produtos</h2> 
@if (carregando()){
    <p>Carregando Produtos...</p>
 }
 <!-- Estado 2: erro -->
@if (erro()){
    <P style="color:red;">{{erro() }}</P>
    <button (click)="carregarProdutos()">Tentar novamente</button>
}
<!-- Estado 3: secesso -->
 @if(!carregando() && !erro()){
    <p>Total de produtos: {{totalProdutos ()}} </p>
  
<hr>

< class="grid-produtos">
    @for(item of produtos(); track $index){
        <app-produto
        [nome] = "item.nome"
        [preco] = "item.preco"
        (produtoSelecionado)="exibirProduto($event)"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
        >
        </app-produto>
    }
<hr>
<!-- <section class="produto-selecionado">
<h3>Produto Selecionado</h3>
@if(produtoSelecionado()){
<p class="texto-sucesso">
    <strong>{{produtoSelecionado()}}</strong>
</p>
}@else {
    <p class="texto-neutro">
        <strong>Nenhum Protudo selecionado</strong>
    </p>
}
</section> -->







<!-- <button (click)= "adicionarAoCarrinho(item)">Adicionar ao carrinho</button> -->
}

